
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=Kiwi+Maru&display=swap');
@import '@splidejs/splide/dist/css/splide.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.splide__pagination__page.is-active {
  background: #cb962e;
  transform: scale(1.2);
  opacity: 1;
}


@layer utilities {
    .will-change-transform {
    will-change: transform;
  }
  .fall-in {
    animation: fall-down 0.5s ease-out forwards;
  }

  @keyframes fall-down {
    from {
      transform: translateY(-100px);
      opacity: 0;
    }
    to {
      /* ← scale は書かない */
      opacity: 1;
    }
  }
}